* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    gap: 5px;
    margin: 20px 0;
}

.btn {
    background-color: rgb(64, 8, 116);
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    background-color: rgb(183, 47, 201);
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}